.authorization__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.body {
  background-color: white;
}
.my_info__wrapper {
  margin-left: 50px;
}

.my_info {
  display: flex;
}

.pronunciation_my_info__wrapper {
  margin-top: 50px;
  width: 350px;
}

.tab {
  padding: 10px 150px 40px 150px;
  background-color: white;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.member_card {
  height: max-content;
  margin: 0.5em 0;
  width: 340px;
  background-color: white;
  border-color: #8A49D5;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  height: 100px;
  padding: 10 10 10 10;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.member_card:hover {
  transform: scale(1.05);  
}
.members {
}

.profile__wrapper {
  cursor: pointer;
  margin-bottom: 30px;
}

.members__container {
  display: flex;
  font-size: 14px;
  font-weight: normal;
  border-width: 10px;
  border-color: red;
}
.members__wrapper {
  font-size: 18px;
  font-weight: bold;
}
.member_widget{
  margin-top: 50px;
  top: 30.0%;
  bottom:0;
  position:sticky;
  overflow-y:scroll;
  overflow-x:hidden;
  z-index: 1;
  border-color: #8A49D5;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  min-width: 400px
}

.me_members {
  display: flex;
  margin-top: 50px;
}

.search_input {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding-left: 6px;
  border-radius: 4px;
  border-color: hsl(0, 0%, 80%);
  border-style: solid;
  border-width: 1px;
  width: 100%;
  min-height: 30px;
  box-sizing: border-box;
}

.search_input:focus {
  outline: none !important;
  border:1px solid #8A49D5;
  box-shadow: 0 0 10px #8A49D5;
}

.search_input:hover {
  border-color: #8A49D5;
}

.search_box {
}

.next_button {
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
  margin-right: 5px;
  background-color: white;
}

.next_button:hover {
  border-color: #8A49D5;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  background-color: white;
}

.members_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outlook-widget {
  padding: 10px 10px 10px 75px;
  width: 92%;
}